@import "tailwindcss";
@import "@fontsource-variable/funnel-display/index.css";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FEFEFE;
   --font-funnel: "Funnel Display", sans-serif;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

